<p>
    I made a simple 2D special relativity simulator
    (sandbox?) as a final project for MIT 8.20,
    a one month special relativity class in January.
    You fly around in a spaceship, experiencing the
    distortion of space and time. Doppler shift is also
    implemented so you can see how the stars fade out of
    visible spectrum if you go fast enough. There is a
    clock in the rest frame so you can see the difference
    in time passing. You can play with it
    <a href="https://augustt198.github.io/8.20-project/">here</a>
    (but I make no claim as to the physics being 100% correct).
</p>

<img src="/img/820.png">
