<p>
Some videos of an OpenGL cloth simulator I wrote:
</p>

<br>

<div notitle class="cloudapp-embed" data-slug="0T1D2N3B121O"><a href="https://cl.ly/0T1D2N3B121O">Screen Recording 2017-09-25 at 12.03 PM.mov</a><script async src="https://embed.cl.ly/embedded.gz.js" charset="utf-8"></script></div>

<div notitle class="cloudapp-embed" data-slug="3e3U1D010T0t"><a href="https://cl.ly/3e3U1D010T0t">Screen Recording 2017-09-25 at 10.31 AM.mov</a><script async src="https://embed.cl.ly/embedded.gz.js" charset="utf-8"></script></div>
