<p>
    I was watching an <a href="https://youtu.be/0ZWSOx-T6lg?t=19m26s">EEVBlog Mailbag video</a>
    when I learned about 'flipdot' displays. These are displays composed of a grid of flaps,
    one side black and the other side yellow/fluorescent, which can be flipped with
    electromagnets.
</p>
<p>
    I wanted to get my hands on one of these, so I did my research. The displays are
    obviously a dated technology so there are not many manufacturers. I did find
    a company called <a href="https://flipdots.com/en/home/">Alfa-Zeta</a> making
    new displays and controllers. From what I found online, it sounds like a 14x28
    pixel display and controller from them would cost $500 minimum. I needed something
    cheaper, so I turned to Ebay. I managed to find a 16x28 display that I got for
    $100 including shipping.
</p>

<img src="/img/flipdot_2.jpg">

<div class="caption">
    The display as it came. Maybe it was the beginning of "NOT IN SERVICE"?
</div>
