<p>
    I created this toy web app with Eric Jiang at HackMann 2017. It lets you create
    self-similar fractals by linking parent/child pairs of objects. Each time the depth
    of the fractal is increased, The pair is copied and moved so that the parent object
    is placed where child used to be.
</p>
<p>Some fractals I created:</p>

<img src="/img/fractal.png">
<img src="/img/fractal_2.png">
<img src="/img/fractal_3.png">
<img src="/img/fractal_4.png">
<img src="/img/fractal_5.png">
