<p>
    I was underwhelmed by the current selection of online 3D graphers,
    so I created my own. Some nice features of my grapher:


    <ul>
        <li>No Flash/Java, just WebGL</li>
        <li>Graph implicit equations</li>
        <li>Graph parametric curves, parametric surfaces, and vector fields</li>
        <li>Rendering parallelized with Web Workers</li>
        <li>Typeset input</li>
        <li>Export to STL for 3D printing</li>
        <li>Matrix notation</li>
    </ul>
</p>

<img src="/img/grapher/screenshot1.png">
<div class="caption">
    A plain z = f(x, y) graph.
</div>

<img src="/img/grapher/screenshot2.png">
<div class="caption">
    A parametric curve in cylindrical coordinates.
</div>

<img src="/img/grapher/screenshot3.png">
<div class="caption">
    A vector field.
</div>

<br>
<p>
    Here's a video of it in action:
</p>

<iframe src="https://player.vimeo.com/video/195709579" width="640" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
